:root {
  --main-color: #1b1e23;
  --second-color: #00ff00;
  --third-color: #110e1b;
  --text-color: #f8f8f8;
  --secund-text-color: #bebebe;
}
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}
header, 
section, 
footer{
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
   background-color: var(--main-color);
}
.line{
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background: linear-gradient(to right, var(--second-color), #70AD51);
  margin: 15px 0;
}

.title{
  font-size: 2em;
  margin: 30px 0;
}
/* HEADER */
header{
  position: relative;
}
header nav, 
.nav-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
}
.nav-list a li{
  margin: 0 15px;
  font-size: 1.2em;
  color: var(--second-color);
  transition: .2s all ease-in-out;
}
.nav-list a li:hover{
  transition: .4s all ease-in;
  color: var(--secund-text-color);
}
.menuMobile{
  display: none;
}
/*       */

/*   ABOUT ME    */
#about-me{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}
#about-me .sides{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about-me 
.left--Side h1{
  font-size: 2.7em;
}

#about-me 
.left--Side span {
  color: var(--second-color);
  letter-spacing: 4px;
}
#about-me 
.right--Side img{
  width: 100%;
  height: 400px;
}
#about-me .bottom{
  margin-bottom: 30px;
}
#about-me .bottom svg{
  cursor: pointer;
}
#about-me .bottom svg:nth-child(1){
  margin: 0 10px;
}
/*  PROJECTS   */
#projects{

}
#projects .cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
#projects 
.cards 
.card{
  display: flex;
  flex-direction: column;
  background-color: #353535;
  border-radius: 10px;
  min-width: 180px;
  max-width: 320px;
  padding: 30px 20px;
  min-height: 200px;
  word-wrap: break-word;
}
#projects 
.cards 
.card h3{
  font-size: 1.6em;
  text-align: center;
}
#projects 
.cards 
.card 
.btns--cards{
  border-radius: 10px;
}
#projects 
.cards 
.card 
.btns--cards svg{
  margin: 10px 10px 13px 0;
}

#projects 
.cards 
.card 
.btns--cards a{
  display: flex;
  justify-content: start;
  align-items: center;
}
#projects 
.cards 
.card 
.btns--cards a:hover{
  color: var(--second-color);
}
/*     */
/*  Skills  */

.icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icons .icons-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 250px;
  margin: 30px 0;
}
.icons .icons-item h3{
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

/*     */
/* CONTACT */
#contact p{
  text-align: center;
  font-size: 1.2em;
}
.plataforms{
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  max-width: 220px;
  margin: 25px auto 0;
  border-radius: 10px;
  background-color: #353535;
}
.plataforms svg{
  margin: 10px;
  cursor: pointer;
}
/*  */
@media screen and (max-width: 1110px){
  #about-me 
  .right--Side img{
    display: none;
  }
  #about-me .sides{
    justify-content: center;
    text-align: center;
  }
  #about-me 
  .left--Side span{
    display: block;
    margin: 10px 0;
  }
  #projects 
  .cards 
  .card{
    margin-bottom: 30px;
  }
}
/*       */
footer{
  font-size: 1.1em;
}
@media screen and (max-width: 992px) {
 .nav-list{
    position: absolute;
    right: 1000px;
    top: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-color);
    transition: .3s all ease-in;
    width: 100vw;
  }
 .nav-list li{
    padding: 15px;
  }
  .menuMobile, #logo{
    z-index: 2;
  }
  .menuMobile{
    display: block;
    cursor: pointer;
  }
  .menuMobile span{
    background-color: var(--second-color);
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px 0;
    border-radius: 3px;
    transition: .5s all ease-in;
  }
  .nav-list.active {
    right: 0;
  }
  .menuMobile.active span:first-child{
    transform: translateY(11px) rotate(135deg);
  }
  .menuMobile.active span:nth-child(2){
    opacity: 0;
  }
  .menuMobile.active span:last-child{
    transform: translateY(-8px) rotate(45deg);
  }
  #projects 
  .cards 
  .card{
    min-width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px){
  #about-me 
  .left--Side h1{
    font-size: 1.8em;
  }
  .title{
    font-size: 1.6em;
  }
  #contact p{
    font-size: 1em;
  }
  .icons-item svg{
    height: 80px;
  }
  .icons-item h3{
    font-size: 1.4em;
  }
} 