@font-face {
  font-family: "Cera Pro Medium";
  src: local("Cera Pro Medium"), local("Cera Pro Medium"), url("../fonts/CeraProMedium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Regular";
  src: local("Cera Pro Regular"), local("Cera Pro Regular"), url("../fonts/CeraProRegular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #0e091b;
  --second-color: #380c82;
  --third-color: #110e1b;
  --text-color: #f8f8f8;
  --secund-text-color: #bebebe;
}
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Cera Pro Regular", sans-serif;
}

header,
footer {
  padding: 0 100px;
}

section{
  padding: 100px;
  overflow-x: hidden;

}
.container, nav{
  max-width: 1140px;
  height: 100%;
  margin: auto;
}
/*      HEADER    */
header {
  position: fixed;
  width: 100%;
  border-bottom:1px solid #262627;
  z-index: 999;
  background-color: var(--main-color);
}
html {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile {
  display: none;
  cursor: pointer;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-list li a {
  font-size: 1.3em;
  color: var(--title-color);
}
.nav-list li a::after{
  display: block;
  content: '';
  border-bottom: solid 1px var(--second-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out; 
  padding-top: 5px;
}
.nav-list a:hover:after {
  transform: scaleX(1); 
} 

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 8px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-color);
  border-radius: 10px;
}
/*         */
.btn {
  border-radius: 3px;
  padding: 15px 0;
  max-width: 250px;
  border: 1px solid #4a06c0;
  text-align: center;
  font-size: 1.2em;
  background-image: linear-gradient(
    90deg,
    var(--main-color),
    var(--second-color)
  );
  font-family: "Cera Pro Regular";
  margin: 20px 0;
  transition: 1s all;
}
.btn:hover {
  background-image: linear-gradient(90deg, var(--main-color), #4a06c0);
  transition: 1s all;
  max-width: 300px;
}

h1,h2,a, h3{
  font-family: "Cera Pro Medium";
  font-weight: normal;
}

h1 {
  font-size: 3.5em;
  padding-bottom: 3px;
}
h2{
  font-size: 2.5em;
  padding-bottom: 20px;
}
h2::after{
  content: " .";
  color: #4a06c0;
  font-size: 1.75em;
  word-spacing: -10px;
}
h3{
  font-size: 1.4em;
}
p{
  font-size: 1.2em;
  line-height: 35px;
  color: var(--secund-text-color);
}
.grid-layout {
  display: grid;
  align-items: center;
  grid-template: auto / 1fr 1fr;
  height: 100%;
  position: relative;
}
/*   HOME     */

#home {
  height: 90vh;
  background-color: var(--main-color);
}
#home span {
  font-size: 1.5625em;
  color: var(--text-color);
  font-family: "Cera Pro Regular";
  padding: 5px 0;
  
}
.home-text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: hidden; 
}
.home-text h1, .home-text span{
  visibility: visible;
  animation-name: delayWrite;
  animation-delay: 500ms;
  animation-duration: 3s;
}
.home-photo img {
  width: 100%;
  position: relative;
  animation: moveUpDown 4s infinite;
}

/* ABOUT */

#about-me,#knowledge{
  background-color: var(--third-color);
}
.about-photo img,.about-photo img:hover{
  transition: 2s all;
}
.about-photo img:hover{
  transform:scale(1.1);
}
/* PROJECTS */
#projects{
  position: relative;
  background-color: var(--main-color);
  text-align: center;
}
#projects .grid-layout{
  grid-template: auto / repeat(3,1fr);
  text-align: initial;
}
#projects p{
  margin: 20px 0 0;
  font-size: 1.1em;
}
.card{
  background-color: var(--third-color);
  padding: 40px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
}
a .card{
  margin: 10px;
  min-height: 280px;
}
.card:hover{
  border-color: var(--second-color);
}
#projects #git{
  display: block;
  color: #6610F2;
  font-size: 1.2em;
  margin-top: 20px;
}
#projects #git:hover{
  color: var(--second-color);
}
#projects .grid-layout{
  padding: 20px 0;
}
/* KNOWLEDGE */
#knowledge{
  text-align: center;
}
#knowledge .grid-layout{
  grid-template: auto / repeat(4, 150px);
  justify-content: center;
  gap: 30px;
  height: auto;
  margin: 45px 0;
}
#knowledge .card{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background-color:var(--main-color);
  min-height: 150px;
  transition: 0.4s ease;
  cursor: pointer
}
.grid-layout .card.even span,
.grid-layout .card.odd span{
  min-height: 20px;
  display: none;
  position: absolute;
  border-radius: 2px;
  padding: 5px 0;
  background-color: var(--second-color);
}

.grid-layout .card.even span{
  bottom: -44px;
  left: 0;
  right: 0;
}
.grid-layout .card.odd span{
  top: -44px;
  left: 0;
  right: 0;
}

#knowledge .card:hover span{
  display: block;
}
#knowledge p{
  padding: 5px 0;
}
/* CONTACT */

#contact{
  background-color: var(--main-color);
  text-align: center;
  padding: 70px 100px;
}
#contact .grid-layout{
  grid-template: auto/ repeat(2,1fr);
  gap: 60px;
  margin: 40px 0;
}
#contact h4{
  padding: 20px 0 10px;
}
#contact p {
  overflow-wrap: normal;
}
#contact .card{
  max-height: 233px;
}
/*FOOTER  */
footer{
  background-color: var(--main-color);
}
footer .grid-layout{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #262627;
  padding: 10px 0;
}
#copy,.media{
  margin-top: 10px;
}
.media{
  display: flex;
}
.media li{
  margin: 0 8px;
}
svg:hover path{
  fill: var(--second-color);
}
/*  */
/* ANIMAÇÕES */
@keyframes moveUpDown{
  0%,100%{top: 0;}
  50%{top: 30px;}
}
/*  */

@media screen and (max-width: 1200px){
  header,footer{
    padding: 0 50px;
  }
  section, #contact{
    padding: 80px 50px;
  }
  .grid-layout .about-photo{
    display: none;
  }
  #about-me{
    height: 100%;
  }
  #about-me .grid-layout{
    grid-template: auto/ auto;
  } 
  .nav-list{
    gap: 40px;
  }
  #projects p{
    margin: 15px 0 0;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 992px) {
  header, footer {
    padding: 0 25px;
  }
  section,#contact{
    padding: 100px 25px;  
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile.active .line:nth-child(2) {
    opacity: 0;
  }
  .menu-mobile.active .line:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
  }
  .menu-mobile.active .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  .nav-list {
    position: fixed;
    top: 81px;
    left: -100%;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--third-color);
    text-align: center;
    transition: 0.3s all;
  }
  .nav-list li {
    margin: 30px 0;
  }
  .nav-list.active {
    padding: 60px 0 0;
    left: 0;
  }
  .nav-list li a{
    font-size: 1.5em;  
  }
  nav {
    padding: 10px 0px;
  }
  .grid-layout, #contact .grid-layout{
    grid-template: auto / auto;
  }
  .home-photo {
    display: none;
  }
  .home-text {
    align-items: center;
    text-align: center;
  }
  .btn {
    padding: 10px 30px;
    margin: 30px 0 0;
  }
  #about-me{
    height: 100%;
  }
  #projects .grid-layout{
    grid-template: auto / 1fr;
  }
  #projects p{
    font-size: 1.1em;
  }
  a .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 237px;
    
  }
  #knowledge .grid-layout{
    grid-template: repeat(2, auto)/ repeat(2, 1fr);
  } 
  #knowledge .card{
    padding: 40px 0;
    margin: 0;
  }
  #contact .grid-layout{
    gap: 30px;
  }
  
  .grid-layout .card.odd span,
  .grid-layout .card.even span{
    top: unset;
    bottom: 0;
  }

  .card{
    margin: 10px 0;
  }
}
@media (max-width: 467px){
  h1{
    font-size: 2.2em;
  }
  h2{
    font-size: 2.25em;
  }
  p{
    font-size: 1.2em;
  }
  section,#contact{
    padding: 100px 20px;  
  }
  #home span {
    font-size: 1.15em;
  }
  .card{
    font-size: 0.875em;
  }
  #projects #git{
    font-size: initial;
  }
  a .card{
    min-height: auto;
  }
  #projects p{
    font-size: 1em;
  }
  #knowledge h2{
    font-size: 2.1em;
  }
  #knowledge .card{
    padding: 20px 0;
  }
  #knowledge .grid-layout{
    padding: 20px 0;
    grid-template: repeat(6, auto) / 1fr;
  } 
  footer .grid-layout{
    flex-direction: column-reverse;
  }
  .media{
    margin-top: 30px;
  }
}
